<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-myfatoorahpaymentgateway" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyFatoorahPaymentGateway</name>
    <js-module name="MyFatoorahPaymentGateway" src="www/MyFatoorahPaymentGateway.js">
        <clobbers target="MyFatoorahPaymentGateway" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MyFatoorahPaymentGateway">
                <param name="android-package" value="cordova.plugin.myfatoorahpaymentgateway.MyFatoorahPaymentGateway" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/MyFatoorahPaymentGateway.java" target-dir="src/cordova/plugin/myfatoorahpaymentgateway/MyFatoorahPaymentGateway" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="MyFatoorahPaymentGateway">
                <param name="ios-package" value="MyFatoorahPaymentGateway" />
            </feature>
        </config-file>
        <framework src="src/ios/MFSDK.framework" embed="true" />
        <source-file src="src/ios/MyFatoorahPaymentGateway.m" />
    </platform>
</plugin>